ul{
	float: right;
	
}
li {
    display: inline-block;
    font-size: 14px;
   
  a{
  	color: #fff;
  }
}

img{
	padding-left: 15px;
}

.navbar-default {
  background-color: #3c3c3c!important;
  margin-bottom: 0!important;
}